.jumbotron {
    background-color: #8A0808;
    color:#FFFFFF;
     font-family:fantasy;
    margin-top: 40px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #8A0808;
    margin-bottom: 0px;
    margin-top: 10px;
    
}

.btn {
    background-color: #FF4000;
    color:blanchedalmond;
    border: 2px solid #0B243B;
    
}

.card-hotel {
    flex: 1 180px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    
}

.footer-address-icon{
    padding-right: 10px; 
}

.tab-content{
    padding-top: 10px;
}